/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}*/
#content{
  margin-right: 150px;
	margin-left: 150px;
	width: auto;}

body{
	background: #fff;
}
h1{
	text-align: center;
}
#baslog{
	display: flex;
		justify-content: space-around;
}
#baslog1{
	display: flex;
	justify-content: space-around;
}